NEXT_PUBLIC_SUPABASE_URL=https://ilhovrgozclczomsgktj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlsaG92cmdvemNsY3pvbXNna3RqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MDY2ODUsImV4cCI6MjA5NzE4MjY4NX0.ka80rn759SXGIq72fN8nZ8fH-L4UZn-wToBGFMtjo_c
